@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@400;500;700&family=Sen:wght@400;700;800&display=swap");

// Fonts
$font-primary: "Red Hat Mono", monospace;
// $font-secondary: "Sen", sans-serif;

// Font size
$font-size: 1.5rem;
$font-size-big: 4.5rem;

// Widths and Heights
$card-width: 15rem;
$card-min-height: 10rem;
$project-width: 500px;

// Margins, Paddings and Gaps
$margin-nav: 3.5rem;
$margin-card-text: 0.5rem;
$margin-projects-title: 1rem;
$margin-project: 15px;
$padding-header: 1.75rem 4.875rem;
$padding-button: 0.25rem;
$padding-card: 10px 12px;
$padding-projects: 0 7rem;
$padding-project: 16px 18px;
$gap-project: 20px;
$gap-projects: 40px;

// Borders
$border-radius: 0.4em;

// Colours
$color-white: #ffffff;
$colour-background: #272727;
$colour-grey: #c4c4c4;
$colour-orange: #f06f07;
$colour-red: #dc4d07;
$colour-blue: #a0d2f3;
