@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@400;500;700&family=Sen:wght@400;700;800&display=swap");

// Fonts
$font-primary: "Red Hat Mono", monospace;
$font-secondary: "Sen", sans-serif;

// Font size
$mobile-logo-size: 1.875rem;
$mobile-primary-size: 1.75rem;
$mobile-secondary-size: 1rem;
$mobile-tertiary-size: 0.875rem;
$mobile-quanternnary-size: 1.5rem;
$mobile-quinary-size: 0.6875rem;

$tablet-primary-size: 4.5rem;
$tablet-secondary-size: 1.5rem;

// Margins, Paddings and Gaps
$margin: 0.625rem;
$margin-title: 0.32rem;
$margin-big: 1.875rem;
$margin-small: 0.5rem;
$margin-nav: 3.5rem;
$padding-header: 1.75rem 4.875rem;

// Borders
$border-radius: 0.4em;

// Colours
$color-white: #ffffff;
$colour-background: #272727;
$colour-grey: #c4c4c4;
$colour-orange: #f06f07;
$colour-red: #dc4d07;
$colour-blue: #a0d2f3;
