@use "../../assets/scss/variables" as *;
@use "../../assets/scss/mixins";

.about {
  @include mixins.sectionSetup;

  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  &__container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: $gap-project;
    align-items: center;
    margin: 20px;

    .about__summary-container {
      max-width: 400px;
      > p {
        font-family: $font-secondary;
      }
    }
    .about__img {
      max-width: $max-width-pp;
    }
  }

  &__sun {
    position: absolute;
    left: 0;
    top: -50%;
    z-index: -1;
  }
}

@media screen and (max-width: 800px) {
  .about {
    &__container {
      grid-template-columns: 1fr;
      justify-items: center;
    }
  }
}
