@use "../../assets/scss/variables" as *;

.projects {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: $gap-project;
  margin-top: $margin-project;

  &__container {
    max-width: 500px;
    display: grid;
    grid-template-columns: repeat(auto-fit, $card-width);
    gap: $gap-project;
    .projects__title {
      position: absolute;
      width: 500px;
      transform: translateY(calc(-100% - $margin-projects-title));
      text-align: center;
    }

    .projects__show-more {
      text-decoration: none;
      color: $colour-background;
      background-color: $colour-orange;
      padding: $padding-button;
      border-radius: $padding-button;
      box-shadow: 5px 5px 5px rgb(0 0 0 / 50%);
      border: none;
    }
    .projects__show-more:hover {
      cursor: pointer;
    }
  }
  &__moon {
    position: absolute;
    z-index: -1;
    top: 4%;
    left: 65%;
    animation-name: floating;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
}

@media screen and (max-width: 1060px) {
  .projects {
    padding-top: 3rem;
    display: grid;
    &__container {
      order: 1;
    }
  }
}

@media screen and (max-width: 600px) {
  .projects {
    display: grid;
    &__container {
      grid-template-columns: 1fr;
      justify-items: center;
    }
  }
}

@keyframes moon-floating {
  0% {
    transform: translate(52vw, 5vw);
  }
  50% {
    transform: translate(52vw, calc(5vw - 20px));
  }
  100% {
    transform: translate(52vw, 5vw);
  }
}
