@use "../../assets/scss/variables" as *;
@use "../../assets/scss/mixins";

.projects {
  @include mixins.sectionSetup;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: $gap-project;
  padding: $padding-projects;

  &__container {
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: $gap-project;
    .projects__title {
      width: 100%;
      text-align: center;
    }
  }
  &__moon {
    @include mixins.floatingAnimation;
    top: 4%;
    left: 65%;
    z-index: -1;
  }

  &__button-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 1060px) {
  .projects {
    padding-top: 3rem;
    display: grid;
    &__container {
      order: 1;
    }
  }
}

@media screen and (max-width: 600px) {
  .projects {
    display: grid;
    &__container {
      grid-template-columns: 1fr;
      justify-items: center;
    }
  }
}
