@use "../../../assets/scss/variables" as *;

.hero {
  position: relative;
  &__heading {
    font-weight: normal;
    font-size: $font-size-big;
  }
  &__text {
    font-size: $font-size;
  }
  &__earth {
    position: absolute;
    bottom: -2ch;
    right: -0.5ch;
    animation-name: floating;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
}

@media screen and (max-width: 650px) {
  .hero {
    &__heading {
      font-size: 2rem;
    }
    &__text {
      font-size: 1rem;
    }
    &__earth {
      width: 50%;
      bottom: 1ch;
      animation-name: mob-floating;
    }
  }
}

@keyframes floating {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -20px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes mob-floating {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -10px);
  }
  100% {
    transform: translate(0, 0);
  }
}
