@use "../../../assets/scss/variables" as *;

.project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: $project-width;
  max-height: 600px;
  &__img {
    max-width: $project-width;
    width: 100%;
    margin-bottom: $margin-project;
  }
  &__text {
    border: 2px solid $color-white;
    padding: $padding-project;
    overflow: auto;
    background-color: $colour-background;
  }
  &__para {
    font-family: $font-secondary;
  }
  &__skills {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: $margin-project 0;
  }
}

@media screen and (max-width: 1060px) {
  .project {
    padding: $padding-project;
    order: 2;
  }
}
