@use "../../assets/scss/variables" as *;
@use "../../assets/scss/mixins";

.home {
  @include mixins.sectionSetup;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__sun {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.8;
    z-index: -1;
  }
  &__link {
    position: absolute;
    bottom: 0;
    margin: $margin-nav 0;
    text-align: center;
    line-height: $line-height-big;

    > a,
    > a:visited {
      @include mixins.buttonStyling;
    }
  }
}
