@use "../../assets/scss/variables" as *;

.home {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__sun {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.8;
    z-index: -1;
  }
  &__link {
    position: absolute;
    bottom: 0;
    margin: $margin-nav 0;
    text-align: center;
    line-height: $line-height-big;

    > a,
    > a:visited {
      text-decoration: none;
      color: $colour-background;
      background-color: $colour-orange;
      padding: $padding-button;
      border-radius: $padding-button;
      box-shadow: 5px 5px 5px rgb(0 0 0 / 50%);
    }
    > a:hover {
      cursor: pointer;
    }
  }
}
