@use "../../assets/scss/variables" as *;

.contact {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  &__anchor,
  &__anchor:visited {
    text-decoration: none;
    color: $colour-background;
    background-color: $colour-orange;
    padding: $padding-button;
    border-radius: $padding-button;
    margin-top: 20px;
    box-shadow: 5px 5px 5px rgb(0 0 0 / 50%);
  }
}
