@use "../../assets/scss/variables" as *;
@use "../../assets/scss/mixins";

.contact {
  @include mixins.sectionSetup;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  &__anchor,
  &__anchor:visited {
    @include mixins.buttonStyling;
  }

  &__earth {
    z-index: -1;
    @include mixins.floatingAnimation;
  }
}
