@use "../../assets/scss/variables" as *;
.navbar {
  display: flex;
  align-items: center;

  list-style-type: none;

  &__link,
  &__link:visited {
    text-decoration: none;
    color: $color-white;
    margin-left: $margin-nav;
    font-size: $font-size;
  }
  &__link:hover {
    text-decoration: underline;
    font-weight: bold;
  }
}
