@use "../../assets/scss/variables" as *;

.back-to-top {
  display: none;
  color: $colour-grey;
  font-size: 1rem;
  position: fixed;
  left: 0;
  bottom: 0;
  margin-bottom: $margin-fixed;
  margin-left: 10%;
}

.mobile-back-to-top {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: $margin-fixed;
}

@media only screen and (min-width: 768px) {
  .mobile-back-to-top {
    display: none;
  }

  .back-to-top {
    display: block;
  }
}
